$colour_stc: #EC407A;
$colour_eat: #26A69A;
$colour_drm: #FFA726;
$colour_htl: #FF7043;

#map {
  width: 100%;
  height: 70vh;
  margin: 4vh auto;

  .node-pkg {
    position: relative;
    margin: 0.4rem 1rem;

    .pkg-txt {
      &.type-stc { color: $colour_stc; }
      &.type-eat { color: $colour_eat; }
      &.type-drm { color: $colour_drm; }
      &.type-htl { color: $colour_htl; }

      .pkg-msg {
        display: inline-block;
        position: relative;
      } // .pkg-msg
    } // .pkg-txt

    .txt-num {
      margin-right: 1rem;
    }
  } // .node-pkg

  .txt-name {
    font-size: 1.6rem;
    font-weight: bold;

    &::before {
      content: attr(data-en);
      text-align: center;
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  } // .txt-name
} // #map

.tdb {
  width: 100%;

  table {
    overflow: scroll;
  }

  thead {
    text-align: center;
    text-transform: uppercase;
  }

  tr {
    height: calc(1.2rem + 16px);
    border-bottom: 1px #E7828C dotted;
  }

  td {
    padding: 1.2rem;
  }

  .node-num, .node-type {
    text-align: center;
  }

  .node-name {
    font-weight: bold;
  }

  .node-type, .node-url, .node-pluscode {
    font-family: Roboto Mono;
  }

  .node-pluscode {
    text-align: center;
  }

  .node-stc {
    border-left: 4px $colour_stc solid;
  }

  .node-eat {
    border-left: 4px $colour_eat solid;
  }

  .node-drm {
    border-left: 4px $colour_drm solid;
  }

  .node-htl {
    border-left: 4px $colour_htl solid;
  }
}
