.inner {
  h2 {
    margin-bottom: calc(1rem + 2vh);
    font-size: 2rem;
  }

  h2 {
    &::before, &::after {
      content: "";
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 16%;
      height: 0.4rem;
      background: repeating-linear-gradient(-45deg, #F0BF59, #F0BF59 2px, #FEF4E2 2px, #FEF4E2 4px);
    }

    &::before {
      left: 8%;
    }

     &::after {
       right: 8%;
     }

  }

  /* h3 {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40%;
      height: 4px;
      background: repeating-linear-gradient(45deg, #eb7a77, #eb7a77 2px, #FEF4E2 2px, #FEF4E2 4px);
    }
  } */
}

/*
.inner {
  margin: 4.8vh auto;
  padding: 3.6vh 0;
}

.inner section {
  margin: 0 auto 3.2vh auto;
  padding: 0.8vh 0;
}

*/