/* ========== defaults.scss ========== */
html {
  font: 400 62.5%/16px $font-family;
  scroll-behavior: smooth;
  background-color: #f6f6f4;
  color: #525252;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 1.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: 8px;
  scrollbar-color: #E6B125;

  &::-webkit-scrollbar-thumb {
    background: #E6B125;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::selection {
    background: rgba(#FFF59D, 0.6);
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}


.body {
  animation: fadeIn 1.08s ease 0s 1 normal;
  -webkit-animation: fadeIn 1.08s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #cf1c47;
  padding: 0.4rem;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    background-color: lighten(#cf1c47, 20%);

    /*
    background-image: -webkit-linear-gradient(right, #777dff 0px, #f154ff 200px, #f0357c 400px),-webkit-linear-gradient(left, #777dff 0px, #497ce2 200px, #37bdde 400px);
    background-image: linear-gradient(to left, #777dff 0px, #f154ff 200px, #f0357c 400px),linear-gradient(to right, #777dff 0px, #497ce2 200px, #37bdde 400px);
    background-size: 50% 100%;
    background-position: top left, top right;
    background-repeat: no-repeat;
    */
  }

  /* &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: 0.3s;
  }

  &:hover::after {
    width: 100%;
  } */
}


b {
  color: transparent;
  background-image: -webkit-linear-gradient(right, #777dff 0px, #f154ff 200px, #f0357c 400px),-webkit-linear-gradient(left, #777dff 0px, #497ce2 200px, #37bdde 400px);
  background-image: linear-gradient(to left, #777dff 0px, #f154ff 200px, #f0357c 400px),linear-gradient(to right, #777dff 0px, #497ce2 200px, #37bdde 400px);
  background-size: 50% 100%;
  background-position: top left, top right;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
}

%hidden,
.hidden,
abbr span {
  @include wh(1px, 1px);
  @include mp(-1px, 0);
  @include pd($position: absolute);
  @include trbl();
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  visibility: hidden;
}

.clear { clear: both;
  &:before { clear: both; }
}

.fleft { float: left; }
.fright { float: right; }

.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

::-webkit-input-placeholder {
  color: #A9A9A9;
}

:-ms-input-placeholder {
  color: #A9A9A9;
}


/* Transitions */
body a {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}


/* Structure */
.section { position: relative; }
.content { padding: 0; }

.section-inner {
  margin: 16px auto;
  position: relative;
}
@media screen and (max-width: 715px) {
  .section-inner {
    max-width: 100%;
    margin: 0 auto;
    padding: 8px;
  }
}


/* ===== button ===== */
.button {
  background-color: #FAFAFA;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  color: #039BE5;
  cursor: pointer;
  display: inline-block;
  font: 400 12px/20px $font-family;
  height: 36px;
  margin: 0;
  min-width: 36px;
  outline: 0;
  overflow: hidden;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: background-color 0.2s, box-shadow 0.2s;
  vertical-align: middle;
  white-space: nowrap;
}


header, main, footer {
  padding: 0 10%;
}


::selection {
  background: #dbecf0;
}

::-moz-selection {
  background: #dbecf0;
}

._blank {
  display: block;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
