@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');


// font-family setup
$font-family: 'Roboto Slab', 'Lato', 'Avenir', "Noto Sans JP", "Noto Sans CJK JP", "游ゴシック", "Yu Gothic", YuGothic, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", 'Roboto', SegoeUI, 'Segoe UI', Verdana, "メイリオ", Meiryo, 'Ubuntu', 'Droid Sans', sans-serif;

$mono-font-family: 'OCRB', 'Fira Code', 'SF Mono Regular', 'Roboto mono', 'Source Code Pro', Menlo, "Noto Sans Mono CJK JP",  monospaced;

$font-Gothic-title: 'Product Sans', 'Roboto', 'Avenir', 'Helvetica Neue', 'Arial', "Noto Sans JP", "Noto Sans CJK JP", sans-serif;


.helvetica { font-family: 'Helvetica', 'Helvetica Neue', sans-serif; }
.lato { font-family: 'Lato', sans-serif; }
.monolize { font-family: $mono-font-family; }
