h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1, h2, h3 {
  font-family: 'Readex Pro', sans-serif;
  position: relative;
  display: block;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}
