/* color setup */
$agrista_color: #0E877B;
$dot_menu_color_1: #E57373;
$dot_menu_color_2: #FFD54F;
$dot_menu_color_3: #DCE775;
$dot_menu_color_4: #81C784;
$dot_menu_color_5: #4DB6AC;
$dot_menu_color_6: #64B5F6;
$dot_menu_color_7: #7986CB;
$dot_menu_color_8: #F06292;

$color-honey: #E6B125;
$color-mission: #E54634;
$color-marumarche: #9AB96B;
$color-message: #4776AF;

$color-columns: #E6B125;
$color-news: #4776AF;
$color-io: #4688F1;
$color-activities: #E7828C;
$color-marulog: #8E6E63;

/*
$front-items-about: #;
$front-items-shop: #;
$front-items-contents: #;
$front-items-columns: #;
$front-items-news: #;
$front-items-facebook: #;
$front-items-twitter: #;
$front-items-instagram: #;
*/
