/* ========== index.scss ========== */

.txt-cnt {
  text-align: center;
}

.section-header {
  margin: 0 auto;
  padding: 1rem;
}

.section-header h2 {
  color: #e6b125;
  font-weight: bold;
  margin: 0 auto;
  padding: 1rem;
}

.section-header .c2 {
  font-size: 1.2rem;
  padding: 2rem;
}

.colorful {
  color: transparent;
  background-image: -webkit-linear-gradient(right, #777dff 0px, #f154ff 200px, #f0357c 400px),-webkit-linear-gradient(left, #777dff 0px, #497ce2 200px, #37bdde 400px);
  background-image: linear-gradient(to left, #777dff 0px, #f154ff 200px, #f0357c 400px),linear-gradient(to right, #777dff 0px, #497ce2 200px, #37bdde 400px);
  background-size: 50% 100%;
  background-position: top left, top right;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  margin: 1rem 0 0 0;
}

#icon {
  display: block;
  background-color: transparent;
  background-image: url("/assets/img/Fumi_icon.JPG");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #icon {
    height: 80vw;
    width: 100%;
  }
}

.inner {
  padding: 2vh 0;
  margin-bottom: calc(calc(100vh/50) + 36px);
}

.face {
  margin-bottom: calc(100vh/10);
}

.bio {
  p {
    line-height: 3.2rem;
  }
}

.permlink {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

    li {
    width: 30%;
    list-style: none;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    ul {
      flex-direction: column;
    }
    
    li {
      margin-bottom: 1rem;
      width: 100%;
    }
  } // media
}

.works {
  h3 {
    font-size: calc(2rem - 8px);
    color: #848484;
    text-align: right;

    &::before {
      content: "▷";
      font-size: 80%;
      margin-right: calc(1rem - 12px);
    }
  }
}

.box {
  margin-bottom: calc(calc(100vh/60) + 36px);
}


.svg-musicwave {
  svg {
    width: 10vw;
    display: block;
    margin: 0 auto;
  }
}