/* ========== index.scss ========== */



.m1 p {
  color: transparent;
  background-image: -webkit-linear-gradient(right, #777dff 0px, #f154ff 200px, #f0357c 400px),-webkit-linear-gradient(left, #777dff 0px, #497ce2 200px, #37bdde 400px);
  background-image: linear-gradient(to left, #777dff 0px, #f154ff 200px, #f0357c 400px),linear-gradient(to right, #777dff 0px, #497ce2 200px, #37bdde 400px);
  background-size: 51% 100%;
  background-position: top left, top right;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 6px;
  font-size: 54px;
  line-height: 1.48164;
  font-weight: 700;
  letter-spacing: -.015em;
  line-height: 1.14286;
}
